[Unit]
Description=HTTP PGN Mule
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/pgn-mule
EnvironmentFile=-/root/pgn-mule/env
ExecStart=/usr/bin/node build/server.js
PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectSystem=full
CapabilityBoundingSet=
NoNewPrivileges=true
Restart=always

[Install]
WantedBy=multi-user.target
