[Unit]
Description=Zulip PGN mule bot
After=network.target

[Service]
User=zulip-pgn-mule
Group=bots
WorkingDirectory=/home/zulip-pgn-mule
EnvironmentFile=-/home/zulip-pgn-mule/env
ExecStart=/home/zulip-pgn-mule/.asdf/shims/node --experimental-default-type=module  build/server.js
Restart=always

[Install]
WantedBy=multi-user.target